.reset-password-card {
  max-width: 400px;
  margin: 2rem auto;
  padding: 2rem;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  animation: fadeIn 0.5s ease-in-out;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

mat-card-header {
  justify-content: center;
  margin-bottom: 1.5rem;
}

mat-card-title {
  font-size: 24px;
  font-weight: bold;
}

mat-card-subtitle {
  color: #666;
}

mat-form-field {
  margin-bottom: 1.5rem;
}


mat-form-field .mat-error {
  display: block;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  font-size: 0.8rem;
  color: #f44336;
}

button[mat-raised-button] {
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 16px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.logo {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.message {
  margin-top: 1rem;
  color: green;
}
