<div class="login-container">
  <mat-card class="login-card">
    <img src="assets/img/logo.png" alt="Logo" class="logo">
    <mat-card-header>
      <mat-card-title>Sorteio - SquadPro</mat-card-title>
      <mat-card-subtitle>Realize o login abaixo para acessar a plataforma:</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Senha</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [(ngModel)]="password" name="password" required>
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>

        <button mat-raised-button color="primary" type="submit" class="full-width">Entrar</button>
      </form>
    </mat-card-content>
    <mat-card-actions>
      <a mat-button color="accent" routerLink="/forgot-password">Esqueceu a senha?</a>
      <a mat-button color="accent" routerLink="/signup">Registrar</a>
    </mat-card-actions>
  </mat-card>
</div>
